@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(39 39 42);
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

input {
    --tw-text-opacity: 1;
    color: rgb(30 41 59 / var(--tw-text-opacity));
}

select {
    --tw-text-opacity: 1;
    color: rgb(30 41 59 / var(--tw-text-opacity));
}